@model IEnumerable<BusinessObject.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrinkQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drinks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drinks.DrinksName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
