@model BusinessObject.Order
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
    var drinkList = ViewData["Drinks"] as IEnumerable<BusinessObject.Drink>;
   
    string staffName = HttpContextAccessor.HttpContext.Session.GetString("staffName");
    int? accountId = HttpContextAccessor.HttpContext.Session.GetInt32("accountID");

}

<style>
    .button {
        background-color: #4CAF50;
        /* Màu nền của nút */
        border: none;
        color: white;
        /* Màu chữ trên nút */
        padding: 15px 32px;
        /* Khoảng cách padding xung quanh chữ */
        text-align: center;
        /* Căn giữa chữ trong nút */
        text-decoration: none;
        /* Bỏ gạch chân của text nếu nút là một link */
        display: inline-block;
        /* Hiển thị nút dạng block nhưng vẫn trên cùng một dòng */
        font-size: 16px;
        /* Kích thước chữ */
        margin: 4px 2px;
        /* Khoảng cách margin xung quanh nút */
        cursor: pointer;
        /* Hiển thị con trỏ dạng tay khi di chuyển chuột lên trên nút */
        border-radius: 4px;
        /* Bo góc của nút */
    }

        .button:hover {
            background-color: #45a049;
            /* Màu nền của nút khi hover */
        }
</style>

<div style="display:flex; justify-content: space-between">
    <h1>Order Details</h1>
    <a class="button" asp-action="Index">Back to List</a>
</div>

<div>
    
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            Staff:
        </dt>
        <dd class="col-sm-10">
            @Model.Account.StaffName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Table)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Table.TableNumber)
        </dd>
    </dl>
</div>


<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Ten nuoc uong
            </th>
            <th>
                So luong
            </th>
            <th>
                don gia
            </th>
            <th>
                thanh tien
            </th>
            <th>
                note
            </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @foreach (var name in drinkList)
                    {
                        if (name.DrinkId == item.DrinkId)
                        {
                            <p>@name.DrinkName</p>
                        }
                    }

                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @foreach (var name in drinkList)
                    {
                        if (name.DrinkId == item.DrinkId)
                        {
                            var formattedPrice = string.Format("{0:N0} VND", @name.Price);

                            <p>@formattedPrice</p>

                        }
                    }

                </td>
                <td>
                    @foreach (var name in drinkList)
                    {
                        if (name.DrinkId == item.DrinkId)
                        {
                            <p hidden class="price">@(name.Price * item.Quantity)</p>

                            var formattedPrice2 = string.Format("{0:N0} VND", name.Price * item.Quantity);
                            <p>@formattedPrice2</p>

                            @* <p class="price">@(name.Price * item.Quantity)</p> *@

                        }


                    }
                </td>
                <td>
                    @item.DrinkNote
                </td>
                
            </tr>

        }


        <tr>
            <td></td>
            <td></td>
            <td>Tong</td>
            <td>
                <span id="totalPrice">0</span>&nbsp; VND

            </td>

        </tr>



    </tbody>
</table>

<script>
    function calculateTotal() {
        var prices = document.querySelectorAll('#myTable .price');
        var total = 0;

        prices.forEach(function (price) {
            total += parseFloat(price.innerText);
        });
        var formatter = new Intl.NumberFormat('en-US', {
            style: 'decimal',
            maximumFractionDigits: 0
        });

        document.getElementById('totalPrice').innerText = formatter.format(total);
    }

    // Tính toán tổng khi trang web được tải
    window.onload = calculateTotal;
</script>