@model IEnumerable<BusinessObject.Order>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    var a = ViewData["Analysis"] as IDictionary<int, decimal>;
    decimal total = 0;
    string staffName = HttpContextAccessor.HttpContext.Session.GetString("staffName");
    int? accountId = HttpContextAccessor.HttpContext.Session.GetInt32("accountID");
}
<style>
    .button {
        background-color: #4CAF50;
        /* Màu nền của nút */
        border: none;
        color: white;
        /* Màu chữ trên nút */
        padding: 15px 32px;
        /* Khoảng cách padding xung quanh chữ */
        text-align: center;
        /* Căn giữa chữ trong nút */
        text-decoration: none;
        /* Bỏ gạch chân của text nếu nút là một link */
        display: inline-block;
        /* Hiển thị nút dạng block nhưng vẫn trên cùng một dòng */
        font-size: 16px;
        /* Kích thước chữ */
        margin: 4px 2px;
        /* Khoảng cách margin xung quanh nút */
        cursor: pointer;
        /* Hiển thị con trỏ dạng tay khi di chuyển chuột lên trên nút */
        border-radius: 4px;
        /* Bo góc của nút */
    }

        .button:hover {
            background-color: #45a049;
            /* Màu nền của nút khi hover */
        }
</style>
<a class="button" asp-action="Index" asp-controller="CoffeeTables" asp-route-accId="@accountId">Home</a>
<h1 style="text-align:center">List of order</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Order Id
            </th>
            <th>
                Table Number
            </th>
            <th>
                Order Date
            </th>

            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Table.TableNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>

                <td>
                    @if (a.TryGetValue(item.OrderId, out total))
                    {
                        var formattedPrice = string.Format("{0:N0} VND", @total);
                        <p>@formattedPrice</p>
                    }
                </td>
                <td>

                    <a asp-action="Details" asp-route-orderId="@item.OrderId">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
